<div class="row">
  <div class="container">
  <educ-navbar></educ-navbar>
</div>
</div>
<div class="row">
 <div class="container">
  <h1 >
    {{title}}<i class="fa fa-spinner fa-pulse fa-2x fa-fwn" ></i>
  </h1>

  <button class="btn btn-primary">Test Button</button>
  <alert type="success">
    <strong>Well done!</strong> You successfully read this important alert message.
  </alert>
  <button pButton type="text" (click)="count()" icon="fa-check" label="Click"></button>
</div>
</div>
<router-outlet></router-outlet>
